.exercise1{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;}
input{
    width: 8em;}
.calculator{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 10px;}
.exercise{
    display: flex;
    gap: 5px;}
.operation{
    text-align: center;
    width: 10px;
    margin-left:3px;
    margin-right:3px;}
.exercise2{
    display: flex;
    gap: 10px;}
#operator{
    font-size:large;
}
.navbar{
    display: flex;
    justify-content:center;
    font-size: x-large;
    gap:50px;}

a{
   font-weight: bolder;
   text-decoration: none;
   color: black;
}
a:hover{
    background-color:rgb(247, 243, 243);
}
.link1{
    background-color: rgb(245, 226, 229);
}
.link2{
    background-color: rgb(245, 226, 229);
}